
input.f09h2304h {
    width: 40px;
    text-align: center;
    height: 26px;
}
.weogijweg{
    font-weight:bold;
}
.smq_show_class{
    position: absolute;
    top: 35vh;
    width: 60vw;
    background-color: white;
    left: 10vw;
    height: 25vh;
    z-index: 2;

}
.question_w0890{
    margin-left: 5px;
    margin-top: 20px;
}
div#smq_container {
    position: absolute;
    bottom: 8%;
    width: 30%;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    left: 35%;
    z-index: 2;
}
div#qc_select_window {
    position: fixed;
    width: 80vw;
    height: 80vh;
    background-color: #ecf3fd;
    top: 10vh;
    left: 10vw;
    padding: 3vh;
    z-index: 2;
}
textarea#smq_textarea {
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 80%;
}
.lkd09j2poj{
    width:80vw;
    text-align: center;
}
.a3a32y {
    left: 76vw;
    position: absolute;
    width: 2vw;
}
.a3t131{
    position: absolute;
    left: 78vw;
    width: 20vw;
}
.primary {
    border-top: 1px solid #dddddd;
}
.close_container{
    position:absolute;
    right:5px;
    width:5vw;
    height:5vw;
    z-index: 2;
}

.a_lvl {
    left: 76vw;
}
.input_container button{
    width:10vw;
}
.input_container{
    position: fixed;
    width: 80vw;
    height: 30vh;
    left: 10vw;
    top: 35vh;
    background-color: black;
    justify-content: center;
    display: flex;
    vertical-align: middle;
}
.input_container textarea {
    width: 70vw;
    height: 100%;
    word-break: break-word;
}
span.a_note {
    position: absolute;
    left: 80vw;
    width: 65vw;
}
.fa-caret-right{padding-top: 9.5px;}
.collapse_container{
    display: inline-block;
    position: absolute;
    left: 5px;
    cursor: pointer;
    color: rgb(218, 218, 218);
}
.collapse_container:hover{
    color:rgb(61, 61, 61);
}
.form{
    padding-left:5px;
}
.display_flex{
    display:flex;
}
.exst_q_container{
    display:flex;
}
.ai_question_container{
    display:flex;
}
.noname div{
    background-color:white;
}
.noname div:not(:last-child){
    margin-right:5px;
}
.noname div:hover{
    background-color:rgb(230, 230, 230);
}
.exst_q_suggest{
    background-color: rgb(224, 224, 255);
    width:200px;
    padding:10px;
    margin:5px;
    margin-left:0px;
}
.flex_center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.exst_q_suggest:hover{
    background-color: rgb(103, 103, 255);
    color:white;
    font-weight: bold;

}
.list{
    position: absolute;
    margin-left: 100px;
    width: fit-content;
    background-color: honeydew;

}
.ai_list{
    cursor: pointer;
    width:fit-content;
}
.ai_list:hover{
    font-weight: bold;

}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

span {
    cursor:pointer;
}

button {
    color: black;
    background-color: rgb(227, 227, 240);
    margin: 2px;
    border:white;
}

button:hover{
    background-color:rgb(174, 174, 199);
    color: white;

}

.hide {
    display:none;
}

span {
    margin-right: 20px;
}
.collapse_btn{
    position:fixed;top:5px;right:5px;z-index:2;
}
button.collapse_parent {
    left: 68vw;
    position: absolute;
    width: 6vw;
    overflow: hidden;
}
.he08rh2{
    background-color:#ff7c7c;
    color:white;
}


.onset_set_container{
    margin-top:3vh;
}
.onset_set_container button{
    border:none;
}
.oihwpoegwe::placeholder {
    color: rgb(234, 234, 234);
    text-align: center;
}

.soifjwoe{
    width: 55vw;
    border: none;
    text-align: center;
    margin-top: 5vh;
    font-size: 4vw;
}
body{color:#000000;width:100vw;padding-left:0vw;}

.cc_mark{    
    position: absolute;
    top: 10px;
    right: 20px;
}
.edit_panel_class{
    padding-left:5vw;
    padding-top:5vh;
    z-index:2;
    position:fixed;
    left:5vw;
    top:5vh;
    width:90vw;
    height:90vh;
    background-color:rgb(223, 223, 223);
}
.answer{margin-left:5px;font-weight:bold;}
.answer:hover{color:rgb(61, 125, 209);cursor: pointer;font-weight: bold;}
.answer_note{margin-left:5px;font-weight:lighter;}
.question{padding:10px;margin-left:10px;font-weight:bold;position:relative;}
.wgewgewgw328{width: 80vw;    margin-top: 0.5vh;}
.wgewgewgw328whw{width: 40vw;    margin-top: 0.5vh;}
.woiefjwoefasf{width:80vw;height:10vh;}
.focus{width:100vw;}
.woiefjwoef{width:80vw;text-align: center;    margin-top: 0.5vh;display: block;}
.question_note{margin-left:15px;font-weight:bold;}
.note{
    position: fixed;
    top: 5vh;
    left: 3vw;
    height: 90vh;
    width: 90vw;
    background-color: rgb(229 229 229);
    color: white;
    overflow-y: scroll;
    padding: 10px;
    z-index: 1;
}
.inline{margin-left:0px;display:inline-block;}
.input_bar{    border: none;
    background-color: rgb(205 231 236);
    border-radius: 3px;
    text-align: center;
    display: block;
    margin: auto;
    width: 70vw;
    margin-top: 2vh;
    height: 15vh;
    font-size: 6vw;
    color:#5e5353;
    padding:5px;
    justify-content: center;
    margin-bottom: 5vh;
}
.input_bar::placeholder{
    font-size:35px;
    color:rgb(206, 206, 206);
    margin-bottom:100px;
    justify-content: center;
    vertical-align: middle;

}
.expand_q{width:10vw;left:90vw;position:fixed;height:100vh;z-index:3;}
.next{position:absolute;right:5vw;top:18vh;cursor:pointer;}
.next:hover{color:#1C6EA4;}
.hide{display:none;}
.hide_answers .answer{display:none;}
.hide_answers .answer .question{display:block;}



.close_button{    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 60%;
    border: none;
    background-color: #ececff;
    border-radius: 5px;
    color: #30423b;}
.close_button:hover{background-color: #1C6EA4;color:white;}
.next_question_shine{    
    color: black;
    position: fixed;
    height: 100vh;
    width: 100vw;
    left: 0vw;
    top: 0vh;
    z-index: 2;
    text-align: center;
    font-size: 2.5vw;
    background-color: #fffffffb;
    margin: 0;
    padding-left:5vw;
    opacity:0%;
}
.next_question_shine .q_title{
    margin-top:20vh;
    margin-bottom:5vh
}
.next_question_shine .question{display:none;}

.next_question_shine .answer{
    text-align: left;
    margin-left:20vw;
    font-size: 2vw;
}

.next_question_shine .close_button {
    /* position: fixed; */
    width: 20vw;
    left: 40vw;
    /* bottom: 25vh; */
    margin-top: 5vh;
    font-size: 2vw;
    border-radius: 0;
    background-color: white;
    border: 1px solid #3676a3;
    color: #3676a3;
    margin-left: 0px;
}
.next_question_shine .close_button:hover{
    background: #3676a3;
    color:white;
}

.next_question_shine .answer_to_q{
    display:none;
}
.the_end{padding-top:25vh;}
.the_end_text{font-size:6vw;font-weight: bold;}
.fa-regular{cursor:pointer;}
.plus_icon{font-size:6vw;}
.vertical_bar{width:5vw;position:absolute;height:100vh;left:0;top:0;background-color: #769cb5;}
.lvl_1{
    font-size:3vw;
    color: black;
    font-weight: bold;
    text-align: center;
    
}
.lvl_2{
    font-size:1.5vw;
    color: black;
    font-weight: bold;
}
.lvl_3{
    font-size:1vw;
    color: black;
    font-weight: 400;
}
.data_table{
    background-color: white;
    margin-top: 30px;
}
.db_square_q{
    background-color: #6c71f9;
    width: 24vw;
    display: inline-block;
    height: 19vh;
    overflow: hidden;
    margin: 2px;
    color: white;
}
.db_square_q{
    overflow-y:scroll;
}
.weg0920{
    width:100%;
    height: 30vh;

}
.sojdsdfi2{
    width: 48vw;
    height: 30vh;    
}
.soskdjdi{
    width:78vw;
}
.oqwiegogej{
    width:18vw;
}
.sdfqeh{
    width:96vw;
}
button{position:relative;z-index:1;}
.top_menu{position:fixed;top:0;}
.bottom_menu{padding-top:15px;}

@media screen and (max-width: 767px) {
    .next_question_shine  {
      font-size: 6vw;
    }
    .next_question_shine .answer{
        text-align: left;
        margin-left:5vw;
        font-size: 5vw;
    }
    .next_question_shine .close_button {
        font-size:5vw;
        width:50vw;
        margin-top:10vw;
    }
  }
  
  @media screen and (max-width: 479px) {

  }