<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset='utf-8'name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://kit.fontawesome.com/257d2aa939.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body>
    <button type="button" class="btn collapse_btn" onclick="collapse_cc()">Collapse</button>
    <div onclick="self_append()"></div>
    {%block body%}

    <datalist id="datalist"></datalist>
    <datalist id="q_list"></datalist>
    <datalist id="q_lead_list"></datalist>
    {%csrf_token%}
 
    <form action="" method="POST">
         <div class="form" id="form">
            {%csrf_token%}
         </div>
        <input type ="submit"></button>
    </form>
    <button type="button" onclick="db_to_scenario_simple_ajax()">db_to_scenario_simple</button>
    <button type="button" onclick="db_csv_number_equalizer()">db_csv_number_equalizer</button>
    <button type="button" onclick="train_data_generator_ajax()">train_data_generator</button>
    <button type="button" onclick="train_janice_ajax()">train_janice</button>
    
    {%endblock%}
<button type="button" onclick="json()">delete</button>
<script>
    agenda()
</script>
</body>
</html>
 
 
 


