<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <script src="https://kit.fontawesome.com/257d2aa939.js" crossorigin="anonymous"></script>
    <meta charset='utf-8'name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    
    <style>

    </style>
</head>

<body>
    <div id="id1 id2 id3">wewef</div><button type="button" onclick="some_function()">dd</button>
    {%block body%}
    <form action="" method="POST">
        <div class="form" id="form">{%csrf_token%}</div>
   </form>
<div id="note_7593" class="note">
</div>
<datalist id="cc_list"></datalist>
    {%endblock%}
</body>
<script>
    $(document).ready(function(){
        cc_list=[]
        $.ajax({
            type:'post',
            url:'cc_list_maker',
            data:{
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(response){
                for (i=0;i<response.cc_list.length;i++){
                    cc_list.push(response.cc_list[i])
                }
            }
        })
        cc_id_pair=[]
        $.ajax({
            type:"post",
            url:"letstart",
            data:{
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(response){
                for (i=0;i<response.q_details.length;i++){
                    q_generate_2("body",response.q_details[i][0],response.q_details[i][1],response.q_details[i][2])
                    $("#"+response.q_details[i][0]).addClass("focus next_question_shine")
                    $(".next_question_shine").append("<div class=\"vertical_bar\" onclick=\"collapse_expand()\"></div>")

                    //$("body").append("<div class=\"question\" id=\""+response.q_details[i][0]+"\" value=\""+response.q_details[i][1]+"\">"+response.q_details[i][1]+"</div>")
                }
                for (i=0;i<response.a_details.length;i++){
                    a_generate_2("#"+response.a_details[i][0],response.a_details[i][1],response.a_details[i][2])
                    //$("#"+response.a_details[i][0]).append("<div class=\"answer\" id=\""+response.a_details[i][1]+"\" onclick=\"select();\" value=\""+response.a_details[i][2]+"\">"+response.a_details[i][2]+"</div>")
                }
                $("#q000").append("<button class=\'close_button\'type\'button\' onclick=\'close_above_a();\'>Next Question</button>")
                sub_func_846()
                for (i=0;i<response.cc_id_pair.length;i++){
                    cc_id_pair.push(response.cc_id_pair[i])
                }
            }
            
        })
        


    })




</script>
</html>